include *.txt
include *.md
include *.pkl
recursive-include ./ames_model/*

include ./ames_model/data/train.csv
include ./ames_model/data/test.csv
include ./ames_model/trained/*.pkl
include ./ames_model/VERSION
include ./ames_model/config.yml

include ./requirements/dev.txt
include ./requirements/prod.txt
exclude *.log
exclude *.cfg

recursive-exclude *archive
recursive-exclude * __pycache__
recursive-exclude * *.py[co]