__pycache__
.mypy_cache
.tox
.pytest_cache
ames_model.egg-info
ames_model_output*
build
dist
steps.txt
train.csv
test.csv
sample_submission.csv
data_description.txt
types.csv
archive
.ipynb_checkpoints
kaggle*